
table, tr, td{
    border: 5px solid white;
    border-collapse: collapse;
    font-size: 10px;
    height: 1px;
}
table{
    width: 100%;
}
.title-periodic{
    font-size: 20px;
    text-align: center;
}
h1{
    text-align: center;
    line-height: 1px;
    font-size: 25px;
}
.td2{
    background: rgb(110, 255, 255);
    color: rgb(30, 107, 107);
}
.td4{
    background: pink;
    color: red;
}
.td5{
    background: rgb(245, 181, 245);
    color: purple;
}
.td7{
    background: lightgreen;
    color: green;
}
.td3{
    background: rgb(187, 187, 78);
    color: yellow;
}
.td1{
    background: lightblue;
    color: blue;
}
.td6{
    background: pink;
    color: rgb(206, 76, 97);
}
.td8{
    background: lightblue;
    color: rgb(0, 128, 170);
}
.td9{
    background: rgb(252, 188, 70);
    color: rgb(83, 63, 27);
}
.td10{
    background: darkgrey;
    color: grey;
}